<h2>EHOS Nodes overview</h2>

<div class="container-fluid bg-info" role='navigation'>


  <div class="nodes-list-app">
    <nav>

      <div class="btn-group" role='group' data-toggle="buttons" *ngFor="let stat of status">
        <label class="btn btn-info active" data-toggle="button" checked autocomplete="off"
               btnCheckbox role="button" (click)="getNodesByStatus(stat.id)">{{stat.name}}
        </label>
      </div>

      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-info dropdown-toggle">
          {{reload_timeout}}<span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="this.setTimeout(0)">Pause </a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setTimeout(5000)">5s </a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setTimeout(10000)">10s </a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setTimeout(30000)">30s </a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setTimeout(60000)">1m </a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setTimeout(300000)">5m </a></li>
        </ul>
      </div>
      <br>

      <div class="btn-group" role='group' data-toggle="buttons" *ngFor="let state of states">
        <label class="btn btn-info active" data-toggle="button" checked autocomplete="off"
               btnCheckbox role="button" (click)="getNodesByState(state.id)">{{state.name}}
        </label>
      </div>


    </nav>
  </div>
</div>
<div class="container-fluid " role='display'>

  <div class="nodes" *ngFor="let node of nodes">

    <div class="card" style="width: 50%;">
      <div class="card-body bg-light">
        <span class="badge">{{node.name}}</span> state:<b>{{node.node_state}}</b> status:<b>{{node.vm_state}}</b> status:<b>{{node.image}}</b>
      </div>
    </div>

  </div>
</div>
