<h2>Nodes</h2>


<div class="nodes-list-app">
<nav>
  <ul>
    <li *ngFor="let stat of status">
      <button (click)="getNodesByStatus(stat.id)">{{stat.name}}</button>
    </li>
  </ul>
  <ul>
    <li *ngFor="let state of states">
      <button (click)="getNodesByState(state.id)">{{state.name}}</button>
    </li>
  </ul>
</nav>

<div class="nodes">
<ul>
  <li *ngFor="let node of nodes">
      <span class="badge">{{node.id}}</span> {{node.name}}
      {{node.state}} {{node.status}}
  </li>
</ul>


<button (click)="flipAutoupdate()">Auto update</button>


</div>

